body{
    background-image: url(Letra.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 500px;
    margin: auto;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
}
h1{
    color: sandybrown;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 17px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
#boton{
    background: sandybrown;
    color:whitesmoke;
    text-align: center;
    font-size: large;
    padding: 20px;
}
#boton:hover {
    cursor: pointer;
}
@media (max-width:530px){
    form{
        width: 100%;
    }
}
label
{color: whitesmoke;
}

